<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/tsc.css" />
</head>
  
<div class="menu">
       
  <img src="logo.png" height="25" />
  <a href="/activitylounge?id=<%=id%>"class="menu-item"><div class="inner-menu-item">Back</div></a>
 
</div> 
<body>
    

</div>

<form method="post" action="/addActivity" >
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Activity</h3>
                  <% if(!check){ %>
                    <h1> </h1>

                    <% } else{ %> 
                        <h4>You already added this activity, delete the first one before adding this one</h4>
                <% } %>


                  <div class="card-body p-4 text-center">
    
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" name="activityName"for="firstName">Activity Name</label>
                          <input type="text" id="firstName" class="form-control form-control-lg" name="activityName" />
                        
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Activity Starts</label>  
                          <input type="time" name="activityStarts" class="form-control form-control-lg"  />
                              
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
      
                        <div class="form-outline">
                           <label class="form-label" for="lastName">Activity Ends</label>  
                          <input type="time" name="activityEnds" class="form-control form-control-lg"  />
                              
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Capacity</label>  
                           <input type="number" name="activityCapacity" class="form-control form-control-lg"  />
                               
                         </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Activity Location</label>  
                           <input type="text" name="activityLocation" class="form-control form-control-lg"  />
                               
                         </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Date</label>  
                           <input type="date" name="date" class="form-control form-control-lg"  />
                           <% if(checkDate){ %>
                            <h4>Date invalid</h4>
                            <% } else{ %> 
                               <h1></h1>
                        <% } %>
        
                         </div>
                      </div>
                      
                    </div>
                    <div class="mt-4 pt-10">
                        <input class="btn " type="submit" value="Submit" />
                      </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        
                    </div>
      
                    <div class="row">
                    
      
                    
      
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
</form>
</body>

</html>